.place-list {
    margin: auto;
    width: 50%;
    margin-top: 4rem;
    text-align: center;
}
.noplace {
    margin: auto;
    width: 60%;
    height: 100px;
    text-align: center;
    padding: 50px;
    margin-top: 4rem;
}
@media (max-width: 641px) {
    .place-list {
        width: 95%;
    }
}
