.form-control {
    width: 90%;
    margin: 0.5rem 0;
}
input,
textarea {
    width: 100%;
    padding: 10px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
label {
    margin-bottom: 10px;
}
input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 1pt 1pt var(--purple);
}

.form-control__invalid {
    color: red;
}

.form-control__invalid input {
    box-shadow: 0 0 2pt 1pt red;
    background-color: rgba(255, 0, 0, 0.05);
}
.form-control__invalid textarea {
    box-shadow: 0 0 2pt 1pt red;
    background-color: rgba(255, 0, 0, 0.05);
}
